body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Asul', sans-serif !important;
  background-color: #F25C5C !important;
  color: #F2F2F2 !important;

}
h1 {
  font-family: 'Asul', sans-serif !important;
  margin: 1em !important;
}
/* Color Theme Swatches in Hex
#D93232
#F25C5C 
#595959
#F2F2F2 
#8C8C8C 
  */
